<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Ajout Service</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
    <body>
        {% if id is not None %}
            <form method="post" action="/sae/SeviceDispo/traitementupdateSD/{{id}}/">
        {% else %}
            <form method="post" action="/sae/ServiceDispo/confirmationSD/">
        {% endif %}
        {% csrf_token %}
        {{ form.as_ul }} <!-- permet d'afficher tous les champs sous forme d'une liste
-->
        <input type="submit" value="envoyer les données"\>
        </form>
<div class="item-buttons">
<a href="/sae">Retour</a>
</div>
</html>